<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An attempt to access unauthorize resource</h2>
    </hgroup>
    <div>
        @Html.ActionLink("Back to Home Page", "Index","Home")
    </div>
</body>
</html>
